* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
input {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
}
i {
  font-style: normal;
}
body {
  font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", sans-self;
  background: #f5f5f5;
  color: #333333;
}
input,
textarea {
  -webkit-appearance: none;
  outline: none;
  border: none;
  text-indent: 10px;
}
a,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
}
.padded {
  padding: 0 0.373333rem;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  clear: both;
}
.clearfix:before {
  display: table;
  content: ' ';
}
.clearfix:after {
  display: table;
  content: ' ';
  clear: both;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cHeader {
  background: #ec3b50;
  height: 1.293333rem;
  width: 100%;
}
.cHeader .iconfont {
  color: #fff;
  font-size: 16px;
  line-height: 1.293333rem;
}
[data-dpr="2"] .cHeader .iconfont {
  font-size: 32px;
}
[data-dpr="3"] .cHeader .iconfont {
  font-size: 48px;
}
.cHeader .tiltle {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 10%;
  line-height: 1.293333rem;
  top: 0;
  font-size: 16px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
[data-dpr="2"] .cHeader .tiltle {
  font-size: 32px;
}
[data-dpr="3"] .cHeader .tiltle {
  font-size: 48px;
}
.cHeader a {
  color: #fff;
}
.header {
  position: absolute;
  top: 0;
}
.container {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  padding-top: 1.3rem;
}
.addressList {
  overflow: hidden;
  background: #fff;
  margin: 0.266667rem 0;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
.accept {
  overflow: hidden;
  padding: 0.373333rem;
  line-height: 0.5rem;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}
.accept .title {
  color: #777777;
  float: left;
  width: 1.68rem;
}
.accept .content {
  float: left;
  width: 6.5rem;
}
.accept .content i {
  padding-left: 0.2rem;
}
.accept .address {
  padding-top: 0.2rem;
}
.accept .arrow {
  position: absolute;
  right: 0.373333rem;
  top: 0.8rem;
  font-size: 14px;
  color: #777;
}
[data-dpr="2"] .accept .arrow {
  font-size: 28px;
}
[data-dpr="3"] .accept .arrow {
  font-size: 42px;
}
.edit {
  overflow: hidden;
  padding: 0 0.373333rem;
  height: 1.146667rem;
  line-height: 1.146667rem;
}
.edit span {
  font-size: 0.4rem;
}
.edit .rightText {
  float: right;
  color: #777;
}
.edit .rightText span {
  display: inline-block;
}
.edit .rightText .delete {
  padding-right: 0.5rem;
}
.edit .rightText i {
  padding-right: 0.2rem;
  color: #ec3b50;
  font-size: 0.4rem;
}
